#zonaformulario{
    float: left;
    padding: 30px;
    border: 2px dotted blue;
}

#zonadatos{
    float: left;
    width: 500px;
    margin-left: 50px;
    padding: 30px;
    border: 2px dotted red;
}